* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
.main-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    text-align: center;
    
}

.profile {
    margin: 30px 0;
    font-size: 40px;

}
.profile .btn {
    font-size: 25px;
}
.btn {
    background-color: oldlace;
    border-radius: 20px;
    padding: 8px 25px;
    margin: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease-in;
}
.btn:hover{
        background-color: tan;
   
}


@media only screen and (max-width: 600px) {
    
    
    .profile .btn {
         background-color: #39a2db;
         color: peachpuff;
         font-size: 20px;
    }
}
